<!DOCTYPE html>
<html>

<head>
    <title>Weather App</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Use this site to get your weather!</p>

        <form action="">
            <input type="text" placeholder="Address">
            <button>Search</button>
        </form>
        <p id="error-message"></p>
        <p id="fetch-message"></p>
    </div>


    {{>footer}}
    <script src="/js/app.js"></script>
</body>

</html>